<h2 class="mat-h2">Daily picker</h2>
<mat-card class="form-card" *ngIf="stage === 'ADDING'">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h4 class="mat-h4">New participant</h4>
    <mat-form-field>
      <mat-label>Participant name</mat-label>
      <input formControlName="name" matInput>
    </mat-form-field>
    <button style="margin-bottom: 8px;" mat-raised-button color="primary">Add</button>
    <button type="button" mat-raised-button color="accent" (click)="setStage('DAILY')">Start daily</button>
    </form>
</mat-card>

<mat-card class="list-card">
  <div class="header-row">
    <h4 class="mat-h4">Participant list</h4>
    <button mat-icon-button type="button" (click)="clearList()" matTooltip="Clear list">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>
  

  <mat-chip-list class="mat-chip-list-stacked" aria-label="Participants">
    <mat-chip *ngFor="let participant of participants" selected color="primary" [disabled]="participant.presented">
      {{ participant.name }} <mat-icon (click)="resetParticipant(participant.name)">refresh</mat-icon>
    </mat-chip>
  </mat-chip-list>
</mat-card>

<mat-card *ngIf="stage === 'DAILY'" class="daily-card">
  <h4 class="mat-h4">Currently speaking</h4>
  <h1>{{ current }}</h1>
  <button *ngIf="existing()" mat-raised-button (click)="pickRandom()" color="primary">Pick next</button>
  <button *ngIf="!existing()" disabled mat-raised-button color="primary">That's it, have a nice day</button>
</mat-card>

<mat-card *ngIf="stage === 'DAILY'">
  <mat-list role="list">
    <mat-list-item role="listitem">What did you do yesterday?</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">What will you do today?</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">Are there any impediments in your way?</mat-list-item>
  </mat-list>
</mat-card>